<h3><i class="fas fa-book-reader"></i> Chess App Login </h3>
<div class="section">
    <p class="lead">Play chess with friends</p>
</div>
<div >
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Google Login
    </a>
</div>
